<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
Glocal.com News SuperIntelligence
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta content="X-Frame-Options: SAMEORIGIN">
<meta property="og:description" content="An unparalleled news environment powered by Humans + AI">
<meta property="og:image" content="{% static 'strategic-action-section-image.bd870643.png' %}">
{% endblock %}

{% block authenticatedposts %}
<style>
	.multiexpimage {
		width: 26.6em;
	}
	.framer-19un3sn, .framer-1r4ux0k {
			top: -100px;
		}
	@media only screen {
		.framer-19un3sn, .framer-1r4ux0k {
			top: 0px;
		}
		
	}

	@media only screen and (max-width: 489px) {
		.multiexpimage {
		width: 100%;
	}
	}
</style>

{% endblock %}


{% block unauthenticated_posts %}
<style>
	.multiexpimage {
		width: 26.6em;
	}
	.framer-19un3sn, .framer-1r4ux0k {
			top: -100px;
		}
	@media only screen {
		.framer-19un3sn, .framer-1r4ux0k {
			top: 0px;
		}
		
	}

	@media only screen and (max-width: 489px) {
		.multiexpimage {
		width: 100%;
	}
	}
	#submit {
		color: black; 
		background-color: #044afc; 
		border: none; 
		padding: 10px 20px 10px 20px;
		cursor: pointer;

	}

</style>

<div id=topsection style="height: 800px;">
	<img src="{% static 'strategic-action-section-image.bd870643.png' %}" id=topheaderimg width=100%>
	<div id=newsheader style="width:40%; position: relative; margin: auto; text-align: center; padding-right:200px; display: block; color: white;">
		News SuperIntelligence
		<br/>
		For the World
		
	</div>
	<div id=start style="width:fit-content; position: relative; margin:auto; text-align:center; display: block;" >
		<div id=submit onclick="beginVerify('');">Access Glocal</div>
		
	</div>
</div>

<div id=secondsection style="height:800px;">
	<div id=beginverifystart style="width:30%; position: relative; margin:auto; text-align:center; display: none;">
		<form id=formstart action="{% url 'Bable:begin_verification_form_start' %}" method=POST>
			{% csrf_token %}
			{{ begin_verification_form_start }}
			<button type=submit>Sign Up</button>
		</form>
		<p onclick="signInOpen('');" style="cursor: pointer; color: white;">or Sign In</p>
		<form style="display: none;" id=beginverificationform action="{% url 'Bable:login_view' %}" method=POST>
			{% csrf_token %}
			{{ begin_verification_form }}
			<button type=submit>Sign In</button>
		</form>
		<script>
			var start = document.getElementById('formstart')
			start.children[12].id = 'id_password1';
			var begin = document.getElementById('beginverificationform');
			begin.children[4].id = 'id_password2';

			start.children[10].id = 'id_user_username';

			begin.children[2].id = 'id_username';

			function signInOpen() {
				document.getElementById('beginverificationform').style.display='block';
				document.getElementById('formstart').style.display='none';
			}
		</script>
	</div>
</div>

<div>



</div>

<div>
	


</div>
<style>
	input {
		width: 100%;
		border: 0px 0px 0px 0px black solid;
		border-radius: 12px;
		background-color: white;
	}

	
</style>
<div>
	
</div>

{% endblock %}

{% block scripts %}
<script>
	function beginVerify() {
		if (document.getElementById('beginverifystart').style.display === 'none')
		{
			document.getElementById('beginverifystart').style.display = 'block'; 
			document.getElementById('newsheader').style.opacity = '20%';
			document.getElementById('topheaderimg').style.opacity = '20%';
		} else {
			document.getElementById('beginverifystart').style.display = 'none'; 
			document.getElementById('newsheader').style.opacity = '100%';
			document.getElementById('topheaderimg').style.opacity = '100%';
		}
			
		
	}
</script>
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}