<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{% if count %}
Glocal.com - affadavid.org {{ count }}
{% else %}
Glocal.com - affadavid.org
{% endif %}
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="Glocal.com ASK THE FBI WHY THEY RECOMMENDED ME">
<meta property="og:image" content="{% static 'bullseye_3.jpeg' %}">
<script>
	document.addEventListener("DOMContentLoaded", function() {
	elements = document.getElementsByClassName("csrf");
	for (var i=0;  i< elements.length; i++) {
		elements[i].name = "csrfmiddlewaretoken";
		elements[i].type = "hidden";
		elements[i].value = "{{ csrf_token }}";
	};})
</script>
{% endblock %}


{% block authenticatedposts %}

<div class=displaybanner>
	
	<p>Total post views: {{ total }}</p>
</div>
<div class=possectionsort>
	<form name=post_sort action="{% url 'Bable:change_post_sort_char' %}" method=post>
		{% csrf_token %}
		{{ post_sort_form }}
	</form>
	<script>
		var form = document.querySelector('form[name="post_sort"]');
		form.addEventListener('change', function() {
		    form.submit();
		});
	</script>
</div>
<div class=possectionsort>
	<form name=post_filter_from_date action="{% url 'Bable:change_post_filter_from_date' %}" method=post>
		{% csrf_token %}
		{{ post_filter_from_date_form }}
	</form>
	<script>
		var form_filter_from_date = document.querySelector('form[name="post_filter_from_date"]');
		form_filter_from_date.addEventListener('change', function() {
		    form_filter_from_date.submit();
		});
	</script>
</div>
<div class=possectionsort>
	<form name=post_filter_depth action="{% url 'Bable:change_post_filter_depth' %}" method=post>
		{% csrf_token %}
		{{ post_filter_depth_form }}
	</form>
	<script>
		var form_filter_depth = document.querySelector('form[name="post_filter_depth"]');
		form_filter_depth.addEventListener('change', function() {
		    form_filter_depth.submit();
		});
	</script>
</div>
<style>
	.posttitle h4 {
		font-size: 1.5em;
		margin: 0 auto;
	}

	.posttitle {
		margin: auto;
		text-align: center;
	}

	.postpreview img, .postssponsors img, .post, .postbody {
		border-radius: 8px;
	}

	.dummy {
		animation-duration: 0.1s;
		animation-name: changeboxshadow;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.post:hover, .post:active {
		box-shadow: 0 2px 10px black;
	    transition: box-shadow 0.3s ease-in-out;
	}

	@keyframes changeboxshadow {
	  from {
	    box-shadow: 0 2px 10px black;
	    transition: box-shadow 0.3s ease-in-out;
		
	  }

	  to {
	    box-shadow: 0 2px 10px white;
	    transition: box-shadow 0.3s ease-in-out;
		
	  }
	}

	
.postpreview img:active {
		transform: scale(4);
		position: relative;
		pointer-events: auto;
		left: 10em;
		top: 4em;
	}
	
</style>


<div class=posts onbeforeunload="sendtimeframe();" >
	{% if postscount %}
		{% for post in posts %}
		<div class=post style="display: flex;">
				{% if post.img %}
					<img src="{{ post.img }}" style="z-index: 0; max-height:400px; width: 30%; box-shadow: 0 2px 10px grey; border-radius: 20px; margin: 10px; object-fit: contain; background-color: black;" alt="{{ post.title }}">
				{% else %}
					<img src="{% static 'bullseye_3.jpeg' %}" style="max-height:400px; z-index: 0; width: 30%; box-shadow: 0 2px 10px grey; border-radius: 20px; vertical-align: top; margin: 10px; object-fit: contain; background-color: black;" alt="Please Others With A Gif">
				{% endif %}
						
						
			<div class=posttop style="display: inline-block; vertical-align: top;">
				
				{% if post.author.username %}
				<div class=posttitle>
					<a href="{% url 'Bable:tob_users_post' post.author.username post.id 0 %}"><h4>{{ post.title }}</h4></a>
				</div>
				{% if post.author.username == loggedinanon.username.username %}
				<div class=postdel>
					<a href="{% url 'Bable:delete_own_post' post.author.username post.id %}">X</a>
				</div>
				{% endif %}
				{% else %}
				<div class=posttitle>
					<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
				</div>
				{% endif %}
			<div class=postbody style="margin-right: 0.5em;">
				{{ post.body|truncatechars:111|safety_check|safe }}
			</div>
			<div class=postviews style="font-size: 1em;">
				Views: {{ post.viewcount }}
			</div>
			<div class=postcreation style="font-size: 1em;">
				{{ post.creation_date }}
			</div>
			{% if post.author.username %}
			<div class=postauthor style="font-size: 1em;">
				<a href="{% url 'Bable:tob_user_view_count' post.author.username 0 %}">{{ post.author.username }}</a>
			</div>
			{% else %}
			<div class=postauthor style="font-size: 1em;">
				<a href="">anonymous</a>
			</div>
			{% endif %}

			</div>
		</div>
		{% endfor %}
	{% else %}
		<div class=post>
			There are no posts.
		</div>
	{% endif %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tower_of_bable_count' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tower_of_bable_count' count100 %}">></a>
</div>

{% endblock %}




{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/


	</script>
{% endblock %}